/FormsExample/FormsExample/bin
/FormsExample/FormsExample/obj
/FormsExample/FormsExample.Droid/bin
/FormsExample/FormsExample.Droid/obj
/FormsExample/FormsExample.WinPhone/Bin
/FormsExample/FormsExample.WinPhone/obj
